*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #d2dbdd;
}
div{
	width: 100%;
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;;
	align-items: center;

}
h1{
	padding: 15px 20px;
	background-color: #3d626e;
	color: #1a272b;
	border: 2px solid #ecf0f1;
	outline: none;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;

}